<!DOCTYPE html>
<html>
<head>
  <title>1º Concurso VPSA - littleBIGjob</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="prettyPrint()">
  <div id="page-container">
	  <div id="menuSuperior">
	    <!-- CONTEÚDO DO MENU -->
			<%= link_to image_tag('1concurso.png', :border => 0, :width => 130, :height => 28, :alt => '1º Concurso'), root_path %>
	    <ul>
				<li><%= link_to "Inscreva-se Já", new_proposta_path %></li>
	      <li><%= link_to "Informações", informacoes_path %></li>
	      <li><%= link_to "Regras", regras_path %></li>
				<li><%= link_to "API", documentacao_path %></li>
	      <li><%= link_to "Contato", contato_path %></li>
	    </ul>
	  </div>
	  <div id="lateral">
	    <div class="respiro">
	      <!-- CONTEÚDO DA LATERAL -->
				<%= image_tag 'logo.png', :width => 188, :height => 133, :id => 'logo' %>
				<%= image_tag 'propostas.png', :width => 276, :height => 260, :id => 'participe' %>
				<%= image_tag 'vpsa_logo.png', :id => 'vpsa_logo' %>
	    </div>
	  </div>
	  <!-- CONTEÚDO DA PÁGINA -->
	  <div id="conteudo">
	    <%= yield %>
	  </div>
	</div>
</body>
</html>

