<% if @proposta.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@proposta.errors.count, "error") %> prohibited this proposta from being saved:</h2>

    <ul>
    <% @proposta.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @proposta, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :desenvolvedores, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desenvolvedores, :class => 'text_field input_grande', :placeholder => 'Nome dos desenvolvedores' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field input_grande', :placeholder => 'Email para contato' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :titulo, 'Título', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field input_grande', :placeholder => 'Título do projeto' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :objetivo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :objetivo, :class => 'input_grande text_area_grande', :placeholder => 'Objetivo do projeto'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descricao, 'Descrição', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descricao, :class => 'input_grande text_area_grande', :placeholder => 'Descrição do projeto'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :plataforma, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :plataforma, :class => 'text_field', :placeholder => 'Web, Mobile, Desktop' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Enviar Proposta', :class => 'btn btn-primary' %>
    <%= link_to 'Descartar',
                propostas_path, :class => 'btn' %>
  </div>
<% end %>
