<%- model_class = Proposta.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:desenvolvedores) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:plataforma) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @propostas.each do |proposta| %>
      <tr>
        <td><%= link_to proposta.id, proposta_path(proposta) %></td>
        <td><%= proposta.desenvolvedores %></td>
        <td><%= proposta.email %></td>
        <td><%= proposta.titulo %></td>
        <td><%= proposta.plataforma %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_proposta_path(proposta), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      proposta_path(proposta),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_proposta_path,
            :class => 'btn btn-primary' %>
