<div class="ajuste_conteudo">
	<%- model_class = Proposta.new.class -%>
	<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= model_class.human_attribute_name(:id) %></th>
	      <th><%= model_class.human_attribute_name(:desenvolvedores) %></th>
	      <th><%= model_class.human_attribute_name(:email) %></th>
	      <th><%= model_class.human_attribute_name(:titulo) %></th>
	      <th><%= model_class.human_attribute_name(:plataforma) %></th>
				<th><%= model_class.human_attribute_name(:status) %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @propostas.each do |proposta| %>
	      <tr>
	        <td><%= link_to proposta.id, proposta_path(proposta) %></td>
	        <td><%= proposta.desenvolvedores %></td>
	        <td><%= proposta.email %></td>
	        <td><%= proposta.titulo %></td>
	        <td><%= proposta.plataforma %></td>
				  <td><%= proposta.status %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>