<div class="ajuste_conteudo">
	<%- model_class = @proposta.class -%>
	<h1><%=t '.title', :default => model_class.model_name.human %></h1>

	<p>
	  <strong><%= model_class.human_attribute_name(:desenvolvedores) %>:</strong><br>
	  <%= @proposta.desenvolvedores %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:email) %>:</strong><br>
	  <%= @proposta.email %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:titulo) %>:</strong><br>
	  <%= @proposta.titulo %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:objetivo) %>:</strong><br>
	  <%= @proposta.objetivo %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:descricao) %>:</strong><br>
	  <%= @proposta.descricao %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:plataforma) %>:</strong><br>
	  <%= @proposta.plataforma %>
	</p>
	
	<% if user_signed_in? %>

	<% end %>
</div>